body{
    background-color: rgba(242, 247, 242, 0.863);

    nav{
        border-bottom: 1px solid black;
        position: fixed;

        a{
            color: white;
        }
    }
}

