{% extends 'TODO/base.html' %}

{% block body %}
    <div class="container mt-5">
        <div class="card" style="width: 100%;">
            <div class="card-header">
                {{ todolist.title }}
            <a href="{% url 'newtask' todolist.id %}" class="float-right"><i class="fas fa-plus" style="font-size: 20px;"></i></a>
            </div>
            <ul class="list-group list-group-flush">
                {% for task in tasks %}
                    <li class="list-group-item">
                        {{ task.title }}
                        <a class="float-right" href="{% url 'edittask' todolist.id task.id %}"><i class="fas fa-info-circle" style="font-size: 20px;"></i></a>
                        <p class="small">{{ task.note }}</p>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock body %}