{% extends 'TODO/base.html' %}
{% block body %}

<div class="container mt-5">
    <div class="card" style="width: 100%;">
        <div class="card-header">
            TODO LIST
            <a href="{% url 'newlist' %}" class="float-right"><i class="fas fa-plus" style="font-size: 20px;"></i></a>
        </div>
        <ul class="list-group list-group-flush">
            {% for todo in todolist %}
                <li class="list-group-item" style="background-color: {{ todo.color }}; color: white;">
                    <a href="{% url 'task' todo.id %}">
                        {{ todo.title }}
                    </a>
                    <form method="post" action="{% url 'deletelist' todo.id %}">{% csrf_token %}<button type="submit">削除</button></form>
                    <form action="{% url 'editlist' todo.id %}">{% csrf_token %}<button type="submit">編集</button></form>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>

{% endblock body %}