{% extends 'TODO/base.html' %}
{% block body %}

<div class="container mt-5">
    <div class="card" style="width: 100%;">
        <div class="card-header">
            TODO LIST
            <a href="{% url 'newlist' %}" class="float-right"><i class="fas fa-plus" style="font-size: 20px;"></i></a>
        </div>
        <ul class="list-group list-group-flush">
            {% for todo in todolist %}
                <li class="list-group-item" style="background-color: {{ todo.color }}; color: white;">
                    <a href="{% url 'task' todo.id %}">
                        {{ todo.title }}
                    </a>
                    <a class="float-right" href="{% url 'editlist' todo.id %}"><i class="fas fa-info-circle" style="font-size: 20px;"></i></a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>

{% endblock body %}


{% block todaytask %}
<div class="container mt-5">
    <div class="card" style="width: 100%;">
        <div class="card-header">
            TODAY'S TASK
        </div>
        <ul class="list-group list-group-flush">
            {% for task in todaytask %}
                <li class="list-group-item" style="background-color: {{ task.todolist.color }}; color: black;">
                    {{ task.title }}
                    <a class="float-right" href="{% url 'edittask' task.todolist.id task.id %}"><i class="fas fa-info-circle" style="font-size: 20px;"></i></a>
                    <p class="small">{{ task.note }}</p>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock todaytask %}